/* General Styling */


.dac-header{
  border-bottom: 2px solid #ccc;
}

.dac-header h4 {
  font-family: 'Montserrat';
}


/* body {
    font-family: 'Montserrat';
    background-color: #ffffff; 
    color: #333;
  } */
  
  h4 {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: bold;
    color: #0033d9 
  }
  
  /* Navbar Section */
  .dac-navbar-custom {
    display: flex;
    background-color: white;
    border: 2px solid #0033d9;
    margin-bottom: 15px;
    border-radius: 5px;
    color: blue;
  }
  
  .dac-navbar-section {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-right: 1px solid #0033d9;
    font-weight: bold;
    font-size: larger;
    font-family: 'Montserrat';
  }
  
  /* .dac-navbar-section:last-child {
    border-right: none;
  } */
  
  .dac-navbar-section.selected {
    background-color: #0033d9;
    color: white;
  }

  
  /* Table Styling */
  .table-custom {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #F9F9FF; 
    border-radius: 8px;
    overflow: hidden;
  }

  /* table.table-custom th {
    color: white !important;
  } */
  
  .table-custom th, .table-custom td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .table-custom th {
    background-color: #ddd; 
    color: #0033d9; 
    font-weight: bold;
    
    text-align: center;
  }
  
  .table-custom td {
    background-color: #ffffff; 
    color: #333;
  }
  
  .table-custom tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Input Fields (for editing) */
  .input-edit {
    border: 1px solid #F600FE;
    box-shadow: 0 0 5px rgba(246, 0, 254, 0.5);
    transition: all 0.3s ease;
  }
  
  .input-edit:focus {
    border-color: #5142F0;
    box-shadow: 0 0 8px rgba(81, 66, 240, 0.7);
    outline: none;
  }

  .btn{
    background-color: #fdcc4d; 
  }
  
  /* Action Buttons (Save, Cancel, Edit) */
  .btn-success {
    /* background-color: #C900FE;  */
    border: none;
    color: white;
    transition: all 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #FF80FF;
  }
  

  .btn-secondary {
    background-color: #b3b3b3; 
    border: 1px solid #999;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #999;
}


  /* .btn-secondary {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  
  .btn-secondary:hover {
    background-color: #ccc;
  } */
  
  .btn-warning {
    /* background-color: #F600FE; */
    color: white;
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #FF80FF;
  }
  
  /* Add Button */
  .add-btn {
    background-color: #d9b800; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    display: block;
    margin: 20px auto;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .add-btn:hover {
    background-color: #FF80FF;
  }
  