/* Background and main container styling */
.home-container {
    background-color: #f7f9fc;
    padding: 20px;
}
  
/* Summary card styling */
.summary-card {
    padding: 1rem 1.5rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
  
.summary-card h4 {
    text-align: center;
    padding-bottom: 0.5rem;
}
  
.summary-card .summary-total {
    display: flex;
    justify-content: space-between;
}
  
/* Container for table and search input */
.table-container {
    width: 80%;
    margin-top: 2rem;
}

/* Table header styling */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background-color: #001f3f;
    border-radius: 0.5rem;
    color: #ffffff;
}

.table-header h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    margin: 0;
}

.search-input {
    width: 25%;
    padding: 0.4rem;
    border: 1px solid #cccccc;
    border-radius: 0.3rem;
}
  
/* Table styling */
.table-responsive {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.table thead {
    background-color: #f1f3f5;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.btn-info {
    background-color: transparent; 
    border: 1px solid #007bff; 
    color: #007bff; 
}

.btn-info:hover {
    background-color: #f1f2f5; 
    color: #0056b3; 
    border-color: #0056b3;
}

